<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 1.2 插值表达式 -->
      <p>原始内容: {{ title }}</p>
      <p>{{ content }}</p>
      <p>{{ 1 + 2 + 3 }}</p>
      <p>{{ 1 > 2 }}</p>
      <p>{{ 1 > 2 ? '对' : '错' }}</p>
      <p>{{ output() }}</p>
      <p>{{ outputContent }}</p>
      <p>{{ outputContent }}</p>

      <!-- 4. 指令 -->
      <!-- * 内容指令 -->
      <!-- 跟插值的方式一样, 但是会覆盖标签的原始内容 -->
      <p v-text="htmlContent">原始内容</p>
      <p v-html="htmlContent"></p>

      <!-- * 渲染指令 -->
      <p v-for="item in arr">这是内容: {{ item }}</p>
      <p v-for="(item, key, index) in obj">
        这是内容: {{ item }}{{ key }}{{ index }}
      </p>
      <!-- 可以通过一个布尔值作为内容 来控制元素是否进行创建或者销毁
            true 展示
            false 销毁-->
      <p v-if="true">v-if 标签内容</p>
      <!-- false 是隐藏状态，没有销毁，会在html布局中有 即style="display: none;"-->
      <p v-show="bool">v-show 标签内容</p>

      <!-- * 属性指令 -->
      <p title="鼠标移入会有提示">这是鼠标内容</p>
      <p v-bind:title="mouse">这是鼠标内容</p>
      <p :title="mouse">跟上面的v-bind一样</p>


      <!-- * 事件指令 -->
        <button v-on:click="output">我是按钮</button>
        <br/>
        <button @click="output">我是按钮2</button>
      

      <p>ddd</p>
    </div>
    <!-- <script src="./vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      const vm = new Vue({
        //1.响应式数据与插值表达式
        el: "#app", //id用#  类名用. 当前这个vue的所有响应式，只针对app这个div
        data() {
          return {
            title: "标题2",
            content: "文本",
            htmlContent: "这是一个<span> 哈哈 <span>标签",
            arr: ["a", "b", "c", "d"],
            obj: { a: 10, b: 20, c: 30 },
            bool: true,
            mouse: "这个是鼠标",
          };
        },
        // 1.3 函数的使用
        methods: {
          output() {
            console.log("output执行了");
            return "标题为: " + this.title + "  内容为: " + this.content;
          },
        },
        //2.计算属性，具有缓存性，当我们第一次使用时候，会把结果缓存起来，
        //第二调用的时候，会直接返回结果，不再计算
        computed: {
          outputContent() {
            console.log("computed执行了");
            return "标题为: " + this.title + "  内容为: " + this.content;
          },
        },
        //3.侦听器
        watch: {
          title(newValue, oldValue) {
            console.log(newValue, oldValue);
          },
        },
      });
    </script>
  </body>
</html>
